<template name="postItem">
	<div id="{{_id}}" class="post">
		<div  class="container-fluid post-content">
			<p>
				{{#if containsAuthor}}<div class="post-author-name">{{author}}</div>{{/if}} 
				{{#if containsTime}}<div class="post-submitted-time">{{submittedText}}</div>{{/if}}
			</p>
			<h3>{{title}}</h3>
			<div class="text-field">{{text}}</div>
			{{> rating}}
			{{> shareit}}
		
		{{#if currentUser}}
			<div class="buttons-field" align="right"> 
				{{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="discuss pull-right btn btn-warning">{{i18n "Edit"}}</a>{{/if}}
				<a href="{{pathFor 'postPage'}}" class="discuss pull-right btn btn-primary">{{i18n "comments"}}: {{commentsCount}}</a>
			</div>
		{{/if}}
		</div>
	</div>
</template>