<template name="postEdit">
    {{> goBackButton}}
  <form class="main form">
    <div class="form-group">
        <label class="control-label" for="title">{{i18n "Title"}}</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder={{i18n "Name your post"}} class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="text">{{i18n "Text"}}</label>
        <div class="controls">
            <textarea name="text" form="main-form" type="text" autofocus="true" rows="12" style="resize:none" value="{{text}}" placeholder={{i18n "Your text"}} class="form-control form-text"></textarea>
        </div>
    </div>

    <div class="control-group" align="right">
        <div class="controls" style="display: inline-block;">
            <input type="submit" value={{i18n "Submit"}} class="btn btn-primary submit"/>
        </div>
        <div class="controls" style="display: inline-block;">
            <a class="btn btn-danger delete" href="#">{{i18n "Delete post"}}</a>
        </div>
    </div>

  </form>
</template>
