<template name="postItem">
	<div id="{{_id}}" class="post">
		<div  class="container-fluid post-content ">
			<p>
				{{#if containsAuthor}}<div class="post-author-name">{{author}}</div>{{/if}} 
				{{#if containsTime}}<div class="post-submitted-time">{{submitted}}</div>{{/if}}
			</p>
			<h3>{{title}}</h3>
			{{>starsRating id=_id class="js-rate my-star" size=20 mutable=currentUser}}{{rValue}}
		</div>
		{{#if currentUser}}
			<div> 
				{{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="discuss pull-right btn btn-warning">{{i18n "Edit"}}</a>{{/if}}
				<a href="{{pathFor 'postPage'}}" class="discuss pull-right btn btn-info">{{i18n "Discuss"}}</a>
			</div>
		{{/if}}
		
	</div>
</template>