<template name="postPage">
	{{> goBackButton}}
	<div id="{{_id}}" class="post">
		<div class="container-fluid post-content">
			<p><div class="post-author-name">{{author}}</div><div class="post-submitted-time">{{submittedText}}</div></p>
			<h3>{{title}}</h3>
			<div class="text-field">{{text}}</div>
			{{> rating}}
		</div>
	</div>
	<ul class="comments">
		{{#each comments}}
			{{> comment}}
		{{/each}}
	</ul>
	{{#if currentUser}}
		{{> commentSubmit}}
	{{else}}
		<p class="post-page-log-in-warning">{{i18n "Please log in to leave a comment."}}</p>
	{{/if}}
</template>