<template name="postPage">
	<div class="post">
		<h2>{{title}}</h2>
		<span>{{domain}}</span>
		<span>
			{{>starsRating id=_id class="js-rate my-star" size=20 mutable=true}}
		</span>

		<!--
		<div id="{{_id}}" class="post-content">
			<h3>
				<a class="fa" href="{{url}}">{{title}}</a><span>{{domain}}</span>
			</h3>
		</div>
		{{#if currentUser}}
			<div>
				<a href='' id="js-del-btn" class="discuss btn btn-warning">{{i18n "Delete"}}</a>	
				<a href="{{pathFor 'postPage'}}" class="discuss btn btn-info">{{i18n "Discuss"}}</a>
			</div>
		{{/if}}
		-->
	</div>
</template>